{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		
		<style id="dark-style">kosong</style>
		
		<style>
			body {
				background-color:#f0f0f0;
			}
		</style>
		
		
		<script>
			function changeTheme() {
				if(document.getElementById("dark-style").innerHTML == ".dark-theme{background-color:#101020;color:white;}.dark-theme .card-header {background-color:#101018;}.dark-theme .table-responsive {color:white;}") {
					document.getElementById("dark-style").innerHTML = "kosong";
					document.getElementById("changeMode").innerHTML = "Bright Mode";
				}
				else if(document.getElementById("dark-style").innerHTML== "kosong") {
					document.getElementById("dark-style").innerHTML = ".dark-theme{background-color:#101020;color:white;}.dark-theme .card-header {background-color:#101018;}.dark-theme .table-responsive {color:white;}";
					document.getElementById("changeMode").innerHTML = "Dark Mode";
				}
			}
		</script>
		
	</head>
	<body class="dark-theme">
				
		<div style="margin-top:2%;margin-right:10%;margin-left:10%;margin-bottom:5%;">	
						
			<div class="d-flex bd-highlight mb-3">
			  <div class="mr-auto p-2 bd-highlight"><h1 class="font-weight-bold">Irfan Maulana Nasution</h1></div>
			  <div class="p-2 bd-highlight"><p>mode : </p></div>
			  <div class="p-2 bd-highlight"><button type="button" class="btn btn-dark" onclick=changeTheme() id="changeMode">Bright Mode</button></div>

			</div>
			
			<div id="accordion" style="margin-bottom:2%">
				<div class="card">
					<div class="dark-theme card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="dark-theme btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Activity
							</button>
						</h5>
					</div>
					<div id="collapseOne" class="dark-theme collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							Currently studying computer science in Universitas Indonesia. in my free time i usually read book, watch movie, and hangout.
						</div>
					</div>
				</div>
			  
				<div class="card">
					<div class="dark-theme card-header" id="headingTwo">
						<h5 class="mb-0">
							<button class="dark-theme btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Experience
							</button>
						</h5>
					</div>
					<div id="collapseTwo" class="dark-theme collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body">
							RISTEK (2019-Present)<br>
							Junior Member Network Security & Operating System<br><br>
							TOASTMASTER (2018-Present)<br>
							Member in persuasive influence path Level (3/5)<br><br>
							AIESEC (2018-Present)<br>
							Organizing Committee Vice President of Partnership in Jakarta Environment Care Project Summer 2019<br><br>
							STEAM TRADER (2015-2017)<br>
							Owner of newbie_electric account. Steam games and Dota 2 Item seller and trader 
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="dark-theme card-header" id="headingThree">
						<h5 class="mb-0">
							<button class="dark-theme btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								ACHIEVEMENT
							</button>
						</h5>
					</div>
					<div id="collapseThree" class="dark-theme collapse" aria-labelledby="headingThree" data-parent="#accordion">
						<div class="card-body">
							Best National Exam 2018<br>
							SMA - Sekolah - Peraih nilai terbaik seangkatan<br><br>
							Kompetisi Matematika Nalariah Realistik 2017<br>
							SMA – Nasional – Peraih medali PERUNGGU<br><br>
							STATION – Statistics Competition 2016<br>
							SMA – Nasional – SEMI FINALIS<br><br>
							Be Number One 2015<br>
							SMP – Kabupaten – Peraih JUARA 1<br>
						</div>
					</div>
				</div>
			</div>			
				
			<form action="{% url 'landingPage:landingPage' %}"method="POST" class="dark-theme">
				{% csrf_token %}
				<div class="form-group" style="display:none"> {{ form.post_time }} </div>
				<div class="d-flex flex-row bd-highlight mb-3">
					<div class="form-group p-2 w-100 bd-highlight">{{ form.status }}</div>
					<div class="p-2 flex-shrink-1 bd-highlight"><input class="btn btn-info" style="float:right;margin-bottom:5%;" type="submit" value="Post" id="submit"></div>
				</div>
			</form>
			
			<div class="table-responsive dark-theme" style="margin-top:5%">
				<table class="table">
					<thead>
						<tr class="dark-theme">
							<th scope="col">Time	</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
						{% for s in schedule %}
							<tr class="dark-theme">
								<td scope="row">{{ s.post_time }}</td>
								<td class="text-wrap" style="width:60%">{{ s.status }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
